<!doctype html>
<html lang="pt-br" ng-app="Analyzer">
<head>
    <meta charset="UTF-8" />
    <meta author="Bruce Albuquerque" />
    <title>Page Analyzer</title>
    <link rel="stylesheet" href="css/app.css" />

</head>
<body ng-controller="myCtrl">

<form method="get">
    <input type="text" ng-model="url" />
    <button ng-click="funcao()">analizar</button>
</form>
<div ng-repeat="(k,v) in asdf">

    {{k}}:{{v}}


    {{status}}</div>


<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/app.js"></script>

</body>
</html>